<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FixedProportion</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: darkgray;
    }
    .container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 10rem;
      height: 5.625rem;
      background-color: darkkhaki;
    }
  </style>
</head>
<body>
  <div class="container"></div>
</body>
</html>
<script>
  function init(screenRatioByDesign) {
    let docEle = document.documentElement

    function setHtmlFontSize() {
      var screenRatio = docEle.clientWidth / docEle.clientHeight;
      var fontSize = (
        screenRatio > screenRatioByDesign
          ? (screenRatioByDesign / screenRatio)
          : 1
      ) * docEle.clientWidth / 10;

      docEle.style.fontSize = fontSize.toFixed(3) + "px";
    }

    setHtmlFontSize()

    window.addEventListener('resize', setHtmlFontSize)
  }

  init(16/9)
</script>